[submodule "dependencies/bzip2"]
	path = dependencies/bzip2
	url = git@github.com:WardF/libbzip2.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = git@github.com:madler/zlib.git
[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = git@github.com:google/mathfu.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = git@github.com:lsalzman/enet.git
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = git@github.com:erincatto/Box2D.git
[submodule "dependencies/pugixml"]
	path = dependencies/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "dependencies/BabyDI"]
	path = dependencies/BabyDI
	url = http://github.com/simply-jos/BabyDI
[submodule "dependencies/SFML"]
	path = dependencies/SFML
	url = git@github.com:SFML/SFML.git
[submodule "dependencies/flac"]
	path = dependencies/flac
	url = https://git.xiph.org/flac.git
[submodule "dependencies/vorbis"]
	path = dependencies/vorbis
	url = https://git.xiph.org/vorbis.git
[submodule "dependencies/ogg"]
	path = dependencies/ogg
	url = https://git.xiph.org/ogg.git
[submodule "dependencies/freetype2"]
	path = dependencies/freetype2
	url = git@github.com:ubawurinna/freetype-windows-binaries.git
