[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = git@github.com:google/mathfu.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = git@github.com:lsalzman/enet.git
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = git@github.com:erincatto/Box2D.git
[submodule "dependencies/bgfx"]
	path = dependencies/bgfx
	url = git@github.com:bkaradzic/bgfx.git
[submodule "dependencies/bx"]
	path = dependencies/bx
	url = git@github.com:bkaradzic/bx.git
[submodule "dependencies/bimg"]
	path = dependencies/bimg
	url = git@github.com:bkaradzic/bimg.git
