[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = https://github.com/google/mathfu.git
[submodule "dependencies/BabyDI"]
	path = dependencies/BabyDI
	url = https://github.com/LoneBoco/BabyDI.git
[submodule "dependencies/polypartition"]
	path = dependencies/polypartition
	url = https://github.com/LoneBoco/polypartition.git
